@import "../../style.scss";
 
.diet{
    @include themify($themes){
    // margin-top: 30px;
    background-color: themed("bgSoft");
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-left: 120px;
        h1{
            text-align: center;
            margin-bottom: 30px;
            color: themed("textColor");
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            border: 1px solid themed("border");
            height: 20em;
            width: 70%;
           
            border-radius: 10px;
            transition-duration: 0.3s;
            box-shadow: 0 0 rgba(255, 255, 255, 0.1);
            // background-color: aquamarine;
            // gap: 20px;

            h4{
                font-weight: bold;
                color: themed("textColorsoft");
            }
            .left{
                flex: 1;
             display: flex;
             justify-content: flex-start;
             gap: 30px;
             
             
            label{
                margin-right: 50px;
                padding: 10px;
                margin-left: 20px;
                color: themed("textColorsoft");
              
            }
            input{
                padding: 5px;
                border-radius: 5px;
                margin: 5px;
                background-color: transparent;
            }
            }
           
            .right{
                flex: 1;
                display: flex;
                justify-content: flex-start;
                gap: 30px;
            label{
                margin-right: 50px;
                padding: 10px;
                margin-left: 20px;
                color: themed("textColorsoft");
            }
            input{
                padding: 5px;
                border-radius: 5px;
                margin: 5px;
                background-color: transparent;
                
            }
            }
            button{
                width: 12.5em;
                height: 3.5em;
                margin-top: 2em;
                margin-bottom: 30px;
                border-radius: 2em;
                background-color: #458ff6;
                color: #fff;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition-duration: 0.3s;
            }
            button:hover{
                box-shadow: 0 0 15px rgba(68,143,246,1);
                transform: scale(1.1);
            }
        }
        form:hover{
            box-shadow: 0 0 15px rgba(68, 143, 246, 1);
            transform: scale(1.1);
        }
    }
}
}